/* --------------------- Hero and nav section ---------------------*/
nav{
    background-color: var(--gray-color);
    padding: 20px 5%;
}

/* --------------------- Contact Form section ---------------------*/
.contact-form{
    padding: 77px 0 0 0;
}

.contact-form-content{
    width: max(80%, 20vw);
    margin: 0 auto;
}

.contact-form-content > *{
    flex: 1;
}

.contact-form-content form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px 0;
}

.contact-form-content form .form-row{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

input[type=text], textarea{
    font-size: 0.8em;
    transition: all 0.2s ease;
    letter-spacing: 0.05em;
    font-family: "Work Sans";
    resize: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    background-color: transparent;
    outline: 0;
}

.contact-form-content form .form-row div{
    display: flex;
    gap: 5px;
    flex-direction: column;
    flex: 1;
}

.contact-form-content form .form-row div label{
    position: relative;
    left: -5px;
    font-size: max(1em, 10px);
}

.contact-form-content form input:focus{
    border-bottom: 1px solid var(--secondary-color);
}

.contact-form-content form input:focus::placeholder{
    color: transparent;
}

.contact-form-content form textarea:focus{
    border-bottom: 1px solid var(--secondary-color);
}

.contact-form-content form textarea:focus::placeholder{
    color: transparent;
}

.contact-form-right{
    display: none;
}

.contact-form-content form input[type=submit]{
    cursor: pointer;
    transition: all .5s ease;
    letter-spacing: 0.05em;
    width: fit-content;
    padding: 1em;
    font-size: 1em;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    outline: 0;
    background: 0;
    font-size: 0.8em;
}

.contact-form-content form input[type=submit]:hover{
    color: white;
    background-color: var(--secondary-color);
}

.contact-map iframe{
    height: max(60vh, 500px);
    width: 100%;
}

/* --------------------- Reservation Interface section ---------------------*/
.reservations{
    background-color: var(--section-background);
    padding: min(20vw, 77px) 0;
}

.reservation-interface{
    width: 90%;
    margin: min(10vw, 80px) auto 0 auto;
    background-color: #F4F4F4;
}

.reservation-interface *{
    letter-spacing: 0;
}

.interface-header{
    background-color: var(--secondary-color);
    height: min(100px, 13vw);
}

.interface-content{
    background-color: #F4F4F4;
    padding: min(3vw, 10px) min(3vw, 10px);
    display: flex;
    flex-direction: column;
    gap: min(3vw, 10px);
}

.interface-content > div{
    background-color: #F4F4F4;
}

.interface-content > div > *{
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    padding: min(5vw, 20px) min(5vw, 30px);
}

.select-time{
    margin: 10px 0;
}

.select-date .date-info{
    margin-bottom: min(20px, 4vw);
    display: flex;
    align-items: flex-end;

    gap: 15px;
}

.select-date .date-info i{
    font-size: 1.5em;
}

.select-date .date-info p:last-child{
    color: #7A7A7A;
    font-size: 0.7em;
    cursor: pointer;
}

.calendar{
    max-width: 720px;
    display: flex;
    flex-wrap: wrap;
    gap: min(20px, 5vw);
}

.monthDayContainer{
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.8em;
    aspect-ratio: 1/1;
    width: 13.4%;
    border: 1px solid rgba(0, 0, 0, .5);
}

.day-text-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: min(1vw, 10px);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.monthDayContainer .day-name{
    color: #7A7A7A;
}

.sundayContainer{
    background-color: #C1C1C1;
}

.sundayContainer > *, .sundayContainer .day-name{
    color: white;
    opacity: 0.6;
}

.calendar-selected{
    background-color: var(--secondary-color);
    color: white;
}

.calendar-selected .day-name{
    color: white;
}

.calendar-row{
    width: 100%;
    gap: min(1vw,5px);
    display: flex;
}

.time-info{
    margin-bottom: min(20px, 4vw);
}

.schedules{
    max-width: 720px;
    margin-bottom: min(20px, 4vw);
    display: flex;
    flex-wrap: wrap;
    gap: min(20px, 4vw);
}

.schedules > *{
    cursor: pointer;
    font-size: 0.8em;
    border: 1px solid rgba(0, 0, 0, .5);
    aspect-ratio: 2.5490196078 / 1;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.info-title{
    margin-bottom: min(20px, 4vw);
}

.info-inputs{
    max-width: 720px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}

.info-inputs > div{
    flex: 1;
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
}

.guest-number-title{
    margin-bottom: min(3vw, 10px);
}

.guest-range-container{
    display: flex;
    gap: min(5vw, 10px);
}

input[type=range] {
    width: 90%;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px var(--secondary-color);
}

.details-title{
    width: 100%;
    padding: min(12vw, 25px) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details hr{
    margin: 0 0 min(15vw, 50px) 0;
}

.details-content {
    display: flex;
    flex-direction: column;
    gap: min(15vw, 40px);
}

.details-content > div{
    display: flex;
    justify-content: space-between;
}

.details-content > div p:first-child{
    color: #7A7A7A;
}

.reserve-now{
    padding: min(15vw, 50px) 0 min(5vw, 10px) 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve-now a{
    padding: 1em 3em;
    color: white;
    background-color: var(--secondary-color);
}

.reserve-now a:hover{
    background-color: #c04619;
}