@media (min-width: 600px){
    body{
        font-size: 2.5vw;
    }

    /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv TEAM vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    /* --------------------- Kitchen section ---------------------*/
    .kitchen p{
        width: 80%;
    }
}

@media (min-width: 900px){
    body{
        font-size: 20px;
    }

    nav{
        padding: 20px 5%;
        height: 80px;
    }
    
    .logo-img{
        cursor: pointer;
        width: min(70vw, 200px);
        height: 100%;
        background-image: url(../imgs/home_imgs/logo.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .title:not(.middle-band .title, .gallery .title, .local .title, .our-chef .title, .our-staff .title, .main-dishes .title, .tasting-menus .title, .contact-form .title, .reservations .title){
        text-align: justify;
    }

    .title p{
        max-width: 800px;
        width: 100%;
    }

    .title:not(.middle-band .title, .gallery .title, .local .title, .our-chef .title, .our-staff .title, .main-dishes .title, .tasting-menus .title) p{
        margin: 20px 0;
    }z

    h1{
        font-size: 3.5em;
        line-height: 1.2;
    }

    .mobile-hidden{
        display: block;
    }

    /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv HOME vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    /* --------------------- Hero and nav section ---------------------*/
    .hero{
        height: 100vh;
    }

    .collapsed{
        display: none;
    }

    .nav-menu{
        display: flex;
        gap: 30px;
        white-space: nowrap;
    }

    .nav-menu li{
        display: flex;
        align-items: center;
    }
    
    .nav-menu a{
        padding: 0;
    }

    .nav-menu a:hover{
        color: var(--secondary-color);
    }

    .legend{
        width: 70%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    /* --------------------- Our history section ---------------------*/
    .our-history{
        padding: 0;
        display: flex;
        align-items: center;
    }

    .history-left, .history-right{
        padding: 0 40px;
        position: relative;
        flex: 1;
    }

    .history-right{
        display: flex;
        flex-direction: column;
        gap: 150px;
        flex: 1.5;
    }

    .history-left{
        height: 1500px;
        background-image: url(../imgs/home_imgs/our-history.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .history-left .history-text:first-child{
        margin-top: 115px;
    }

    .history-left .history-text:last-child{
        margin-bottom: 115px;
    }

    .history-text{
        position: relative;
        width: 100%;
    }

    .history-text:nth-child(2)::before, .history-text:nth-child(2)::after{
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        height: 1px;

        background-color: var(--secondary-color);
    }

    .history-text:nth-child(2)::before{
        top: -75px;
    }

    .history-text:nth-child(2)::after{
        bottom: -75px;
    }

    /* --------------------- Chef signature section ---------------------*/
    .chef-signature{
        display: flex;
        gap: 30px;
        align-items: center;
        align-content: center;
        padding: 200px 30px;
    }

    .signature-img-container{
        flex: 1;
        max-width: 782px;
    }

    .signature-img{
        margin: 0;
        width: 100%;
        padding-bottom: 100%;
        height: 0;
    }

    .chef-signature .title{
        flex: 1;
    }

    /* --------------------- Partners section ---------------------*/

    .partners{
        width: 60%;
        margin: 0 auto;
    }

    .partner-img{
        flex: 1;

    }

    .partner-img:first-child{
        margin: 0;
    }

    .partner-img:nth-child(4), .partner-img:last-child{
        margin-top: 0;
    }

    /* --------------------- Footer section ---------------------*/
    .footer-logo{
        height: 130px;
    }

    .footer-top-left .menu{
        gap: 40px;
    }

    .terms, .copyright{
        width: 100%;
    }

    /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv TEAM vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    /* --------------------- Kitchen section ---------------------*/
    .kitchen{
        padding: 200px 0;
    }
    .kitchen .row, .kitchen .row:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 5%;

        padding: 50px;
        color: black;
        background-image: none;
    }
    
    .kitchen .row .title{
        margin: 0;
        width: 100%;
        max-width: 620px;
    }

    .kitchen-row-filter{
        display: none;
    }

    .kitchen-photos{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 30px;
    }

    .kitchen-photos div{
        aspect-ratio: 0.5 / 1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: min(40vw, 506px);
    }

    .kitchen-photos-up div:first-child{
        transform: translateY(55px);
        background-image: url(../imgs/team_imgs/kitchen-half1.jpg);
    }

    .kitchen-photos-up div:last-child{
        transform: translateY(-55px);
        background-image: url(../imgs/team_imgs/kitchen-half2.jpg);
    }

    .kitchen-photos-down div:first-child{
        transform: translateY(-55px);
        background-image: url(../imgs/team_imgs/kitchen-half21.jpg);
    }

    .kitchen-photos-down div:last-child{
        transform: translateY(55px);
        background-image: url(../imgs/team_imgs/kitchen-half22.jpg);
    }


     /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv MENU vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

    .gallery-photos .gallery-photo{
        width: 49.6%;
    }

    .menu{
        transition: left 1s ease;
    }
}
@media (min-width: 1230px){
    /* --------------------- Hero and nav section ---------------------*/
    nav{
        padding: 30px 5%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .logo{
        height: 100%;
    }

    .logo-img{
        width: 250px;
    }

    .nav-menu{
        justify-content: center;
        gap: 4%;
        flex: 5;
    }

    .nav-reserve{
        flex-direction: 1;
        display: block;
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
    }

    .nav-reserve:hover{
        background-color: var(--secondary-color);
        color: var(--main-color);
    }

    .legend{
        width: 650px;
        text-align: left;
        top: 25%;
        left: 8%;
        transform: none;
    }
    
    .legend p {
        margin: 30px 0;
        width: 60%;
    }

    .legend-buttons{
        justify-content: flex-start;
    }

    .gallery{
        padding: 200px 0;
    }
        
    .gallery-photos .gallery-photo{
        width: 33%;
    }
    
    /* --------------------- Our history section ---------------------*/
    .history-left, .history-right{
        padding: 0 9%;
    }

    .history-text:nth-child(2)::before, .history-text:nth-child(2)::after{
        width: 110%;
    }

    /* --------------------- Chef signature section ---------------------*/
    .chef-signature{
        padding: 200px 8%;
        gap: 80px;
    }
    .chef-signature .title p{
        width: 93%;
        margin: 30px 0;
    }

    /* --------------------- Middle band section ---------------------*/
    .middle-band{
        height: 70vh;
    }

    .middle-band .title{
        width: 50%;
    }

    /* --------------------- local section ---------------------*/
    .local{
        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 200px 40px;
    }

    .local-row .title{
        text-align: justify;
    }

    .local-row .title{
        
        flex: 1;
    }

    .local-row:first-child .title{
        padding-left: 2.5%;
    }

    .local-row:last-child .title{
        padding-right: 2.5%;
    }

    .local-row .title p{
        width: 100%;
        margin: 20px 0;
        margin-bottom: 0;
    }

    .local-row:first-child .local-img, .local-row:last-child .local-img{
        flex: 1.5;
    }

    /* --------------------- Footer section ---------------------*/
    .footer-logo{
        width: 384px;
    }

    .footer-top{
        padding: 60px 7% 100px 7%;
    }

    .footer-top-content{
        padding-top: 50px;
        display: flex;
    }

    .footer-top-content > *{
        flex: 1;
    }

    .footer-top-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        align-content: center;

        order: 1;
    }

    .footer-top-right-content{
        box-sizing: border-box;
        width: 450px;
        height: 250px;
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer-legend{
        display: block;
    }

    .newsletter{
        margin: 0;
    }

    .footer-legend{
        font-size: .8em;
        text-align: center;
        width: 100%;
    }

    .footer-bottom{
        justify-content: space-between;
        flex-direction: row;
        padding: 50px 7%;
    }

    .footer-bottom .terms{
        justify-content: flex-start;
    }

    .footer-bottom .social-media{
        font-size: 40px;
        gap: 50px;
    }

    /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv TEAM vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    /* --------------------- Chef section ---------------------*/
    .our-chef{
        padding: 50px 100px 0 100px;

        display: flex;
        justify-content: center;
        align-content: center;
        gap: 50px;
    }

    .our-chef .title{
        margin: 0;
        padding-top: 80px;
        width: fit-content;
        
        text-align: justify;
        order: 1;
    }

    .our-chef .title h1{
        text-align: left;
        order: 1;
    }

    .our-chef .title p{
        max-width: 700px;
        margin: 20px 0 40px 0;
    }

    .chef-signature-team{
        text-align: center;
    }

    .chef-img{
        aspect-ratio: 0.77678571428571 / 1;
        margin: 0;
        height: unset;
        width: min(50vw, 783px);
    }

    /* --------------------- Staff section ---------------------*/
    .group-row .group-text{
        flex: 1;
        text-align: justify;
        padding: 150px 15%;
    }

    .staff-group-imgs .group-img{
        background-position-y: top;
    }

    /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv MENU vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    /* --------------------- Main dishes section ---------------------*/
    .main-dishes{
        padding: 200px 0;
    }

    .main-dishes-content .top{
        gap: 150px;
    }

    /* --------------------- Tasting Menus section ---------------------*/
    .tasting-menus{
        padding: 200px 0;
    }

    /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv CONTACT vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    /* --------------------- Contact Form section ---------------------*/
    .contact-form{
        padding: 200px 0 0 0;
    }

    .contact-form-content{
        box-shadow: 0px 0px 40px rgba(0, 0, 0, .2);
        display: flex;
        width: 70%;
        margin: 80px auto 90px auto;
    }

    .contact-form-content form{
        padding: 80px 80px;
    }

    .contact-form-right{
        display: block;
        padding: 50px 50px;
        position: relative;
        background-color: aquamarine;
        background-image: url(../test.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    
    .contact-form-right p{
        color: white;
        font-family: "Libre Baskerville";
        font-size: 2.6em;
    }
    
    .form-social-media{
        bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        align-items: flex-end;
        gap: 40px;
        align-content: flex-end;
        font-size: 2.2em;
    }
    
    .form-social-media a{
        padding: 0;
    }

    /* --------------------- Reservation Interface section ---------------------*/
    .reservations{
        padding: 200px 0;
    }
}

@media (min-width: 1600px){
    /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv HOME vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    /* --------------------- local section ---------------------*/
    .local{
        padding: 200px 100px;
    }

    /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv TEAM vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    /* --------------------- Chef section ---------------------*/
    .our-chef{
        gap: 80px;
    }

    .our-chef .title{
        padding-top: 200px;
    }
    /* --------------------- Staff section ---------------------*/
    
    .staff-box-container .arrows-mobile{
        display: none;
    }
    
    .staff-box-container .left, .staff-box-container .right{
        display: block;
    }

    .staff-box-container .left{
        margin-right: 40px;
    }

    .staff-box-container .right{
        margin-left: 40px;
    }
    
    .group-row .group-text {
        padding: 0 7%;
    }

    .our-staff{
        padding: 200px 0;
    }

    .our-staff .title p{
        margin: 20px auto 0 auto;
    }

    .staff-group-imgs{
        padding: 0 100px;
    }

    .group-row{
        display: flex;
        align-items: center;
        align-content: center;
    }

    .group-row > .group-img{
        flex: 1.5;
    }

    .group-row .group-text{
        flex: 1;
        text-align: justify;
        padding: 0 2%;
    }

    .staff-group-imgs .group-img{
        transition: filter .5s ease;
        width: 55%;
    }

    .staff-group-imgs .group-img:hover{
        -webkit-filter: brightness(.5);
        filter: brightness(.5);
    }

    .group-row:nth-child(2) .group-img{
        width: 100%;
    }
    
    .group-row:last-child .group-img{
        margin-left: auto;
    }

    /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv MENU vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
    /* --------------------- Tasting Menus section ---------------------*/
}